.Contact {
  height: 100vh;
  position: relative;
}

.Contact__Background {
  width: 20px;
  height: 100%;
  background-color: #134611;
  position: absolute;
}

.Contact__Wrapper {
  padding: 250px 50px 50px 100px;
  display: flex;
}

.Contact__Wrapper-Left {
  flex: 1;
}

.Contact__Title {
  font-size: 60px;
  width: 80%;
}

.Contact__Info--Item {
  display: flex;
  align-items: center;
  margin: 40px 0px;
  font-weight: 300;
  width: 70%;
}

.Contact__Icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.Contact__Wrapper-Right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}

.Contact__Description {
  font-weight: 300;
  font-size: 20px;
}

form {
  margin-top: 20px;
}

input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: #134611;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  .Contact__Wrapper {
    padding: 100px 50px 50px 100px;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .Contact__Wrapper {
    flex-direction: column;
    padding: 10px 50px 0px 50px;
  }

  .Contact__Title {
    font-size: 30px;
    margin-top: 10%;
  }

  .Contact__Info--Item {
    margin: 20px 0px;
    width: 100%;
    font-size: 12px;
  }

  .Contact__Icon {
    height: 20px;
    width: 20px;
  }

  #Contact__Icon--Home {
    width: 35px;
  }

  .Contact__Description {
    margin: 20px 0px 5px 0px;
    font-size: 14px;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  button {
    margin-top: 10px;
  }
}
